\venv
Deep_learning/Lesson_5/Cat_Dog_data
Deep_learning/Lesson_5/F_MNIST_data
Deep_learning/Lesson_5/MNIST_data
Deep_learning/Project/flowers
.ipynb_checkpoints

.idea/workspace.xml
/Deep_learning/Lesson_5/test.png
/Deep_learning/Project/submissions/
/Unsupervised_Learning/Lesson_4/data/

/Unsupervised_Learning/Project/Udacity_AZDIAS_Subset.csv
/Unsupervised_Learning/Project/Udacity_CUSTOMERS_Subset.csv
/Unsupervised_Learning/Project/AZDIAS_Feature_Summary.csv
/Unsupervised_Learning/Project/Data_Dictionary.md
/Data_science_process/Lesson_1/survey_results_public.csv
/Data_science_process/Lesson_1/survey_results_schema.csv
